*.iml
.gradle
/local.properties
/google-services.json
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release
/data-migration/node_modules
/data-migration/.env
/data-migration/tibetan-keyboard.json




